<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая книга</title>
    <link href="../static/css/pure.css" rel="stylesheet" th:href="@{/css/pure.css}">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="block">
<h1>Добавление книги</h1>
<form class="pure-form pure-form-aligned" method="post" th:action="@{/book/add}" th:object="${bookForm}">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Название книги</label>
            <input id="name" name="name" placeholder="Название книги" th:field="*{name}" type="text">
            <span class="error" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Какая-то ошибка</span>
        </div>
        <div class="pure-control-group">
            <label for="genre">Жанр</label>
            <select id="genre" name="genreId" th:field="*{genreId}">
                <option selected value="">-Выберите жанр-</option>
                <option th:each="genre:${genres}" th:text="${genre.name}" th:value="${genre.id}" value="Классика">
                    Классика
                </option>
            </select>
            <span class="error" th:errors="*{genreId}" th:if="${#fields.hasErrors('genreId')}">Какая-то ошибка</span>
        </div>
        <div class="pure-control-group">
            <label for="author">Автор</label>
            <select id="author" name="authorId" th:field="*{authorId}">
                <option selected value="">-Выберите автора-</option>
                <option th:each="author:${authors}" th:text="${author.name}" th:value="${author.id}" value="1">Толстой
                    Л.Н
                </option>
            </select>
            <span class="error" th:errors="*{authorId}" th:if="${#fields.hasErrors('authorId')}">Какая-то ошибка</span>
        </div>
        <div class="pure-controls">
            <button class="pure-button pure-button-primary" type="submit">Добавить</button>
        </div>
    </fieldset>
</form>
<div class="error"><a href="/" th:href="@{/}">Вернуться к списку книг</a></div>
</body>
</html>