<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{book.pagetitle(${book.name})}">Страница книги</title>
    <link href="../static/css/pure.css" rel="stylesheet" th:href="@{/css/pure.css}">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="block">
<h1 th:text="${book.name}">Название книги</h1>
<div>Жанры: <span th:text="${book.genresInfo}">Жанры книги</span></div>
<div>Авторы: <span th:text="${book.authorsInfo}">Авторы книги</span></div>

<div style="margin-top: 24px">
    <h3>Комментарии читателей:</h3>
    <div sec:authorize="isAuthenticated()">
        <form method="post" th:action="@{/book/comment}" th:object="${commentForm}">
            <input name="id" th:value="${book.id}" type="hidden">
            <textarea name="comment" th:field="*{comment}"></textarea>
            <div>
                <button class="pure-button" type="submit">Добавить</button>
            </div>
            <span class="error" th:errors="*{comment}" th:if="${#fields.hasErrors('comment')}">Какая-то ошибка</span>
        </form>
    </div>
    <div class="comment" th:each="comment:${comments}">
        <div class="comment-meta"><span th:text="${comment.getUser().getName()}">Пользователь</span></div>
        <div th:text="${comment.getText()}">Текст комментария</div>
        <div class="comment-meta"><span th:text="${#temporals.format(comment.getTime(), 'dd-MM-yyyy HH:mm')}">10.12.2019 10:00</span>
        </div>
    </div>
</div>
</body>
</html>