<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая книга</title>
    <link href="../static/css/pure.css" rel="stylesheet" th:href="@{/css/pure.css}">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="block">
<div><a href="/" th:href="@{/}">Вернуться к списку книг</a></div>
<h1>Редактирование книги</h1>
<fieldset>
    <form class="pure-form pure-form-aligned" method="post" th:action="@{/book/update}" th:object="${bookForm}">
        <div class="pure-control-group">
            <input name="id" th:value="${book.id}" type="hidden">
            <label for="name">Название книги</label>
            <input id="name" name="name" placeholder="Название книги" th:field="*{name}" type="text">
            <span class="error" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Какая-то ошибка</span>
            <div class="pure-controls">
                <button class="pure-button pure-button-primary" type="submit">Сохранить</button>
            </div>
        </div>
    </form>
    <div class="pure-control-group">
        <h3>Жанры</h3>
        <table class="pure-table">
            <tr th:each="genre:${book.genres}">
                <td th:text="${genre.name}">Классика</td>
                <td>
                    <input name="genreId" th:value="${genre.id}" type="hidden">
                    <form method="post"
                          th:action="@{/book/{id}/genre/{genre_id}/delete(id=${book.id},genre_id=${genre.id})}"
                          th:if="${#lists.size(book.genres)>1}">
                        <button class="pure-button" onclick="return confirm('Уверены, что хотите удалить?')"
                                type="submit">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
            <tr th:if="!${#lists.isEmpty(filteredGenres)}">
                <td colspan="2"><b>Добавление жанра</b></td>
            </tr>
            <tr th:if="!${#lists.isEmpty(filteredGenres)}">
                <form method="post" th:action="@{/book/{id}/genre(id=${book.id})}">
                    <td>
                        <select id="genre" name="genreId">
                            <option th:each="genre:${filteredGenres}" th:text="${genre.name}" th:value="${genre.id}"
                                    value="Классика">
                                Классика
                            </option>
                        </select>
                    </td>
                    <td>
                        <button class="pure-button" type="submit">
                            Добавить
                        </button>
                    </td>
                </form>
            </tr>
        </table>
    </div>
    <div class="pure-control-group">
        <h3>Авторы</h3>
        <table class="pure-table">
            <tr th:each="author:${book.authors}">
                <td>
                    <span th:text="${author.name}">Тлстой Л.Н.</span>
                </td>
                <td>
                    <input name="authorId" th:value="${author.id}" type="hidden">
                    <form method="post"
                          th:action="@{/book/{id}/author/{author_id}/delete(id=${book.id},author_id=${author.id})}"
                          th:if="${#lists.size(book.authors)>1}">
                        <button class="pure-button" onclick="return confirm('Уверены, что хотите удалить?')"
                                type="submit">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
            <tr th:if="!${#lists.isEmpty(filteredAuthors)}">
                <td colspan="2"><b>Добавление автора</b></td>
            </tr>
            <tr th:if="!${#lists.isEmpty(filteredAuthors)}">
                <form method="post" th:action="@{/book/{id}/author(id=${book.id})}">
                    <td>
                        <select id="author" name="authorId">
                            <option th:each="author:${filteredAuthors}" th:text="${author.name}" th:value="${author.id}"
                                    value="1">
                                Л.Н. Толстой
                            </option>
                        </select>
                    </td>
                    <td>
                        <button class="pure-button" type="submit">
                            Добавить
                        </button>
                    </td>
                </form>
            </tr>
        </table>
    </div>

</fieldset>


</body>
</html>